* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

.fa-bars{
  color: #f9f9f9;
  cursor: pointer;
  margin-right: 20px;
}

.fa-times{
  position: absolute;
  display: block;
  cursor: pointer;
  top: 10%;
  right: 18%;
  color: #f9f9f9;
  width: 10px;
  height: 10px;
}

.cover{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 60px;
  right: -100%;
  background: rgba(15, 15, 15, 0.8);
  opacity: 0.7;
  transition: opacity 0.5s ;
}

.cover.show-image-container{
  right: 0;
  opacity: 1;
  background: rgba(15, 15, 15, 0.8);
}

.cover img{
  display: block;
  min-width: 25%; 
  min-height: 20%;
  max-height: 65%;
  border: #f9f9f9 solid 1px   ;
  border-radius: 8px;
  padding: 6px;
  margin: 0 20px;
}

header *{
  text-decoration: none;
  list-style: none;

}

header{
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.navbar{
  position: fixed;
  display: flex;
  width: 100%;
  height: inherit;
  padding: 0 20px;
  justify-content: stretch;
  align-items: center;
  font-weight: 600;
  background: rgba(35, 35, 35, 0.5);
  transition: all 0.5s;
}

.navbar a{
  color: #f9f9f9;
}

.navbar.scrolled a, .fa-bars.scrolled {
  color: black;
  transition: color 0.5s;
}

.navbar.scrolled , .fa-bars.scrolled, .navbar-collapse.scrolled {
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.5s;
}

.navbar.scrolled li::after {
  background-color: black;
}

.navbar-collapse.scrolled li{
  border-color: black;
}

.navbar-brand{
  margin-right: auto;
  padding-left: 20px;
}

#navbar-button {
  transition: all 0.5s;
}

.navbar li {
  margin: 0 20px;
  display: inline-block;
}

.navbar li::after {
  content: "";
  display: block;
  background-color: #f9f9f9;
  width: 0;
  height: 2px;
  transition: width 0.3s;
}

.navbar li:hover::after {
  width: 100%;
}

.navbar-collapse {
  position: fixed;
  justify-content: center;
  top: 60px;
  right: -30%;
  height: 100%;
  width: 30%;
  text-align: center;
  background: rgba(35, 35, 35, 0.5 );
  z-index: 99999999;
  transition: all 0.5s;
}

.navbar-collapse.show {
  right: 0;
  z-index: 4;
  transition: all 0.5s;
}

.navbar-collapse li {
  display: block;
  margin: 20px;
  border-bottom: #f9f9f9 1px solid;
  transition: all 0.5s;
}

.navbar-collapse a , .navbar{
  padding: 10px;
}


.gallery::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100%;
  filter: brightness(0.3);
  background: #f9f9f9  no-repeat;
<<<<<<< HEAD
  background-image: url("../img/background.jpg");
=======
  background-image: url(IrishJohnDeRoxas/OP-Landing-Page/blob/main/img/background.jpg);
>>>>>>> 2f7accd38a2b801d49bb1323b30699f1e11a9a75
  background-position: center;
  background-size: cover;
}

.gallery {
  position: relative;
  display: grid;
  min-height: 100%;
  color: #f9f9f9;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
}

.description {
  position: relative;
  width: 60%;
  height: auto;
  margin: 10px;
  font-weight: 400;
}

.gallery .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 190px 0 190px 0;
  justify-content: center;
  color: #f9f9f9;
}

.card {
  position: relative;
  width: 250px;
  border: 2px white solid;
  border-radius: 8px;
  padding: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.7s;
}

.card:hover {
  transform: translate(0px, -10px);
  box-shadow: 0px 2px 10px 0px rgba(249, 249, 249, 1);
}

.card img {
  display: block;
  object-fit: cover;
  object-position: top;
  position: relative;
  cursor: pointer;
  margin: auto;
  width: 230px;
  height: 130px;
  border: white solid 1px;
}
/* Media query for navbar to navbar-collase */
/* Use a media query to apply different styles when the viewport is more than 710px */
@media (width > 710px) {
  #navbar-button {
    display: none;
    transition: all 0.5s;
  }
  .show-nav-cover{
    display: none;
    transition: all 0.5s;
  }
  
  /* Show navbar-menu or the navbar-collapse*/
  #navbar-menu{
    display: block;
    position: relative;
    height: auto;
    width: auto;
    right: 0;
    top: 0;
    background-color: transparent;
    transition: all 0.5s;
  }
  .navbar-nav li{ 
    border: none;
    transition: all 0.5s;
  }
  .navbar-collapse li {
    display: inline-block;
    margin: 0 10px;
    transition: all 0.5s;
  }
}

/* Media Query for Gallery grid adjustment */
@media (width <= 999px) {
  .description {
    padding-top: 50%;
    align-self: start;
  }
  .gallery {
    grid-template-columns: auto;
  }
}
@media (width <= 1499px) {
  .description {
    padding-top: 50%;
    align-self: start;
  }
}
